<div id="app-header">
  <label for="select-visualizer">Select visualizer: </label>
  <select name="plugin_id" id="select-visualizer"
    hx-get="/change-visualizer"
    hx-trigger="change"
    hx-target="#main-view"
    hx-swap="outerHTML"></select>
  <label for="select-data-source">Select data source: </label>
  <select name="plugin_id" id="select-data-source"
    hx-get="/change-data-source"
    hx-trigger="change"
    hx-target="#main-view"
    hx-swap="outerHTML"></select>
  <label for="file-input">Upload File: </label>
  <input type="file" id="file-input" name="file_input"
      hx-post="/upload-data-file/"
      hx-target="#main-view"
      hx-trigger="change"
      hx-swap="outerHTML"
      hx-encoding="multipart/form-data">
</div>
<script>
  document.body.addEventListener('htmx:configRequest', function (event) {
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]')?.value;
    if (csrfToken) {
      event.detail.headers['X-CSRFToken'] = csrfToken;
    }
  });

  const visualizers = {{ visualizer_plugins|safe }};
  const data_sources = {{ data_source_plugins|safe }};
  const initial_visualizer = {{ selected_visualizer|tojson }};
  const initial_data_source = {{ selected_data_source|tojson }};

  d3.select('#select-visualizer')
    .selectAll('option')
    .data(visualizers)
    .enter()
    .append('option')
    .attr('value', d => d.id)
    .text(d => d.name)
    .property('selected', d => d.id === initial_visualizer);

  d3.select('#select-data-source')
    .selectAll('option')
    .data(data_sources)
    .enter()
    .append('option')
    .attr('value', d => d.id)
    .text(d => d.name)
    .property('selected', d => d.id === initial_data_source);
</script>
