<div id="app-header">
  <div class="tab">
    <button class="tablinks active" onclick="openTab(event, 'main-tab', 'app-header-tabs')">Main</button>
    <button class="tablinks" onclick="openTab(event, 'filter-tab', 'app-header-tabs')">Filters</button>
   
    <div id="workspace-controls">
  <label for="current-workspace">Current Workspace:</label>
  <input type="text" id="current-workspace" value="{{ selected_workspace }}" readonly />

  <button hx-get="/create-workspace/" hx-swap="multi:#app-header:outerHTML,#main-view,#tree-view:outerHTML">CREATE</button>
  <button hx-get="/delete-workspace/" hx-swap="multi:#app-header:outerHTML,#main-view,#tree-view:outerHTML">DELETE</button>
  <button hx-get="/switch-workspace-back/" hx-swap="multi:#app-header:outerHTML,#main-view,#tree-view:outerHTML">BACK</button>
  <button hx-get="/switch-workspace-next/" hx-swap="multi:#app-header:outerHTML,#main-view,#tree-view:outerHTML">NEXT</button>
</div>

  </div>

  <div id="app-header-tabs"
            hx-on::after-settle="addMainViewFunctionality(event)">
    <div id="filter-tab" class="tabcontent">
      <form id="filter-form" hx-post="/filter-graph/" hx-swap="multi:#main-view,#tree-view:outerHTML"
            hx-trigger="submit" class="inline-block" oninput="document.getElementById('filter-error').innerHTML='';">
        <label>Filter:</label>
        <input type="text" name="key" id="filter-key" placeholder="Key" hx-include="#filter-form"/>
        <select name="operator" id="filter-operator" hx-include="#filter-form">
          <option value="==">==</option>
          <option value="!=">!=</option>
          <option value="<">&lt;</option>
          <option value="<=">&lt;=</option>
          <option value=">">&gt;</option>
          <option value=">=">&gt;=</option>
        </select>
        <input type="text" name="value" id="filter-value" placeholder="Value" hx-include="#filter-form"/>
        <button type="submit" id="filter-apply">Apply</button>
        <div class="tooltip">
            <img src="static/images/mark.png" alt="error" class="tooltip-icon" width="20" height="20"/>
            <span class="inline-block tooltiptext" id="filter-error"></span>
        </div>
      </form>
      <div class="inline-block">
          <label for="search-input">Search:</label>
          <input type="text" name="query" id="search-input" placeholder="Search..."/>
          <button type="button" id="search-apply" hx-post="/search-graph/" hx-include="#search-input"
                 hx-swap="multi:#main-view,#tree-view:outerHTML">Apply</button>
      </div>
      <button type="button" id="filter-reload" hx-get="/reload-graph"
              hx-swap="multi:#main-view,#tree-view:outerHTML">Reload</button>
    </div>

    <div id="main-tab" class="tabcontent active">
      <label for="select-visualizer">Select visualizer: </label>
      <select name="plugin_id" id="select-visualizer"
        hx-get="/change-visualizer"
        hx-trigger="change"
        hx-on::before-swap="swapHeadContent(event)"
        hx-swap="multi:#main-view,#tree-view:outerHTML"></select>
      <label for="select-data-source">Select data source: </label>
      <select name="plugin_id" id="select-data-source"
        hx-get="/change-data-source"
        hx-trigger="change"
        hx-swap="multi:#main-view,#tree-view:outerHTML"></select>
      <label for="file-input">Upload File: </label>
      <input type="file" id="file-input" name="file_input"
          hx-post="/upload-data-file/"
          hx-trigger="change"
          hx-swap="multi:#main-view,#tree-view:outerHTML"
          hx-encoding="multipart/form-data">
    </div>
  </div>
</div>
<script>
  document.body.addEventListener('htmx:configRequest', function (event) {
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]')?.value;
    if (csrfToken) {
      event.detail.headers['X-CSRFToken'] = csrfToken;
    }
  });

  const visualizers = {{ visualizer_plugins|safe }};
  const data_sources = {{ data_source_plugins|safe }};
  const initial_visualizer = {{ selected_visualizer|tojson }};
  const initial_data_source = {{ selected_data_source|tojson }};

  d3.select('#select-visualizer')
    .selectAll('option')
    .data(visualizers)
    .enter()
    .append('option')
    .attr('value', d => d.id)
    .text(d => d.name)
    .property('selected', d => d.id === initial_visualizer);

  d3.select('#select-data-source')
    .selectAll('option')
    .data(data_sources)
    .enter()
    .append('option')
    .attr('value', d => d.id)
    .text(d => d.name)
    .property('selected', d => d.id === initial_data_source);

  function openTab(event, tabId, tabContainerId) {
    event.target.parentNode.querySelector(".active")?.classList.remove("active");
    event.target.classList.add("active");

    document.querySelector(`#${tabContainerId} > .active`)?.classList.remove("active");
    document.querySelector(`#${tabId}`)?.classList.add("active");
  }
</script>
