<div id="main-view"
    hx-on::before-swap="swapHeadContent(event)">
    {{visualized_body|safe}}
    <script>
      function swapHeadContent(event) {
        const tempContainer = document.createElement("div");
        tempContainer.innerHTML = event.detail.serverResponse;

        d3.select(document.head).selectChildren(".plugin-visualizer-head").remove();
        d3.select(tempContainer)
            .selectAll(".plugin-visualizer-head")
            .each(function() {
                document.head.appendChild(this.cloneNode(true));
                this.remove();
        });

        event.detail.serverResponse = tempContainer.innerHTML;
      }
    </script>
</div>