<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--Ucitavanje d3.js biblioteke moguce je na ovaj nacin.-->
        {% load static %}
    <!-- Download d3.v3.js from a website-->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <!-- Use local d3.v3.js -->
<!--        <script type="text/javascript" src="{% static 'd3.v3.js' %}"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/multi-swap.js"></script>
        <script type="text/javascript" src="{% static 'victor.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'style.css' %}"/>
        <title>{{title}}</title>
        {% block head_content %}{% endblock %}
    </head>
    <body hx-ext="multi-swap">
        {% block content %}{% endblock %}
        <script>
          document.body.addEventListener('htmx:configRequest', (event) => {
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]')?.value;
            if (csrfToken) {
              event.detail.headers['X-CSRFToken'] = csrfToken;
            }
          });
          document.addEventListener("DOMContentLoaded", () => {
              addMainViewFunctionality();
          });
        </script>
    </body>
</html>